<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="default" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=11.4.3.16)(PORT=20030)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MSMIST1)));User Id=bringedg;Password=Mimama2016!;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="BaseURL" value="http://localhost/ForeSiteApplication" />
    <add key="TargetDriver" value="Chrome" />
    <add key="TestCaseLogPath" value="..\..\Logs\" />
    <add key="TestResultLogPath" value="..\..\TestResult\" />
    <add key="ScreenshotsPath" value="..\..\Screenshots\" />
    <add key="IEDriverServerPath" value="D:\Selenium\IEDriverServer_x64_2.31.0\" />
    <add key="ChromeDriverServerPath" value="C:\bit\test\TestExe\TestExe" />
    <add key="TestDataPath" value="..\..\TestData\TestData.xml" />
    <add key="TestRunCount" value="1" />
    <add key="DriverPageLoadTimeout" value="60" />
    <add key="DriverWebElementTimeout" value="60" />
      <add key="WriterType" value="WORD" />
    
    <add key="username" value="" />
    <add key="password" value="" />
    

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>