<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="TargetDriver" value="Chrome" />
  <add key="TestCaseLogPath" value="..\..\Logs\" />
  <add key="TestResultLogPath" value="..\..\TestResult\" />
  <add key="ScreenshotsPath" value="..\..\Screenshots\" />

  <add key="TestDataPath" value="..\..\TestData\TestData.xml" />
  <add key="TestRunCount" value="1" />
  <add key="DriverPageLoadTimeout" value="60" />
  <add key="DriverWebElementTimeout" value="60" />
    <add key="username" value="bringedg" />
    <add key="password" value="Mimama14*" />
  </appSettings>
</configuration>